body {
            background-color: blue;
            color: white; /* Biela farba textu pre lepšiu čitateľnosť */
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

